<div class="cp-color-area">
    <div class="cp-color-thumb">
    </div>
</div>
<div class="cp-control-col">
    <div class="cp-color-show">
        <div class="cp-select-color">
            <span class="cp-select-color-dis"></span>
        </div>
    </div>
    <div class="cp-color-slider">
        <label class="cp-slider-line cp-primary-slider">
            <input type="range" class="cp-slider-tsh"/>
            <span class="cp-slider-bg"></span>
            <i class="cp-slider-thumb"></i>
        </label>
        <label class="cp-slider-line cp-alpha-slider">
            <input type="range" class="cp-slider-tsh"/>
            <span class="cp-slider-bg"></span>
            <i class="cp-slider-thumb"></i>
        </label>
    </div>
    
</div>
<div class="cp-control-col cp-control-text">
    <label class="cp-hex-label">HEX</label>
    <input class="cp-hex-input" type="text"/>
</div>
